h1{
    display: none;
}

.efb-multistep{
    width:500px;
    padding:25px;
    border:solid 1px #e4e8f5;
    border-radius:10px;
}

.efb-multistep label{
    color:black;
    font-family: inter;
}

.efb-steps {
    margin-bottom:20px
}

.efb-steps ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:0;
    padding: 0;
    gap:10px
}
.efb-steps li{
    padding: 0.4em 0.8em;
    color:white;
    font-weight: 500;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    cursor: pointer;
    transition:background-color .2s;
}

.emu-btn{
    padding: 0.8em 0.8em;
    width:100%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emu-btn-primary{
    background-color: #000;
    color:white;
}

.emu-notices{
    padding: 20px 14px;
    margin-bottom: 10px;
    border:solid 2px;
    background-color:#d6f0fd;
    color:#1958a0;
    border-color:#a9d6f5;
    font-weight: 600;
}

.emu-notices-danger{

    background-color:#ffe1e3;
    color:#ff4153;
    border-color:#fd99a4

}

.emu-notices-success{

    background-color:#c5f2d7;
    color:#109449;
    border-color:#a3e4c0

}

.efb-form{
    display: flex;
    flex-direction: column;
    gap:10px
}


/* Estilo base para o checkbox */
input[type="checkbox"] {
    -webkit-appearance: none; /* Remove o estilo padrão do navegador */
    appearance: none;
    height: auto;
    width: 20px;
    border: none!important; /* Borda clara */
    border-radius: 3px; /* Bordas arredondadas */
    background-color: white; /* Fundo branco */
    position: relative;
    cursor: pointer; /* Aponta que é clicável */
    transition: all 0.2s ease; /* Transição suave */
    aspect-ratio: 1; /* Mantém o checkbox quadrado */
  }
  
  /* Estilo para o estado checado */
  input[type="checkbox"]:checked {
    background-color: #4CAF50!important; /* Cor de fundo quando marcado */
    border-color: #4CAF50; /* Cor da borda quando marcado */
  }
  
  /* Estilo para a marcação (check) */
  input[type="checkbox"]:checked::after {
    content: '\2713'; /* Símbolo de check */
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro exato */
    font-size: 18px;
    color: white; /* Cor do check */
  }
  
  /* Efeito de foco */
  input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3); /* Sombra suave no foco */
  }
  